@model GlobalGames.Data.Entities.Newsletter
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description"
          content="desenvolvimento de jogos e realidade virtual" />
    <meta name="Keywords"
          content="realidade virtual, criamos jogos, desenvolvemos jogos" />
    <title>Global Games | Welcome</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>