@model GlobalGames.Data.Entities.Newsletter

<!DOCTYPE html>
<html lang="en">

<partial name="_Header" />

<body>
    <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1>
            </div>
            <nav>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="selecionado"><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Services">Serviços</a></li>              
                </ul>      
            </nav>
        </div>
    </header>

    <partial name="_Newsletter" />

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="titulo">Sobre nós</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu
                    ante faucibus, congue nunc vitae, bibendum mauris. Praesent dui
                    nibh, tincidunt at finibus vitae, feugiat non purus. Etiam pulvinar
                    dignissim lectus, non tristique magna bibendum blandit. Vestibulum
                    sed molestie metus. In elementum mollis dolor. Pellentesque aliquam
                    fringilla suscipit. Curabitur quis libero sed dui varius porttitor.
                </p>

                <p class="dark">
                    In ac felis nec lorem pharetra luctus vitae eu nibh. Donec convallis
                    leo nisi, vel venenatis mauris imperdiet ac. Suspendisse sed pretium
                    neque, a ullamcorper neque. Nullam faucibus placerat libero. Sed
                    ornare bibendum ipsum, id fringilla lacus fermentum ut. Duis a eros
                    nec sem vehicula scelerisque id sit amet justo. Suspendisse at nunc
                    vitae diam vulputate feugiat porttitor et diam. Maecenas at arcu ut
                    elit bibendum aliquam. Nullam tortor urna, mattis vitae nunc rutrum,
                    mollis rhoncus ante. Suspendisse sollicitudin sagittis lectus et
                    iaculis.
                </p>
            </article>

            <aside id="sidebar">
                <div class="dark">
                    <h3>O que fazemos</h3>
                    <p>
                        Praesent vel purus quis lectus tempor commodo. Donec at nisi
                        congue, ornare sapien sit amet, malesuada ante. Fusce risus elit,
                        molestie et fermentum non, accumsan ac nibh. Maecenas in magna
                        eget erat placerat rutrum sit amet at nisi. Vestibulum id nulla
                        magna. Curabitur iaculis at dolor eget pharetra. Integer posuere
                        purus justo, sit amet suscipit massa facilisis at. Fusce pretium
                        efficitur auctor. Aliquam fringilla sapien sit amet odio eleifend
                        imperdiet. Etiam nec neque non elit suscipit lobortis. Quisque id
                        sollicitudin velit. Aliquam iaculis scelerisque nulla ut
                        ullamcorper. Mauris vitae lacus quis sapien aliquet porta quis non
                        nunc.
                    </p>
                </div>
            </aside>
        </div>
    </section>
    <footer>
        <p>Global Games, Todos os direitos reservados &copy; 2020</p>
    </footer>
</body>
</html>
