@model GlobalGames.Data.Entities.Newsletter

<!DOCTYPE html>
<html lang="en">

<partial name="_Header" />

<body>
    <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1>
            </div>
            <nav>
                <ul>
                    <li class="selecionado"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Services">Serviços</a></li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a  asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>

                    }
                </ul>
            </nav>
        </div>
    </header>
      

    <partial name="_Newsletter" />

    <section id="boxes">
        <div class="container">
            <div class="box">
                <img src="images/logo_html.png"/>
                <h3>Jogos Unity</h3>
                <p>
                    Com a Unity Technologies desenvolvemos jogos e aplicativos 2D, 3D,
                    VR e AR
                </p>
            </div>

            <div class="box">
                <img src="images/logo_css.png"/>
                <h3>Unreal Engine</h3>
                <p>
                    Desenvolvemos aplicativos corporativos, experiências
                    cinematográficas e jogos.
                </p>
            </div>

            <div class="box">
                <img src="images/logo_brush.png" />
                <h3>Personagens</h3>
                <p>
                    Fazemos as melhores personagens de última geração para videojogos.
                </p>
            </div>
        </div>
    </section>
    <footer>
        <p>Global Games, Todos os direitos reservados &copy; 2020</p>
    </footer>
</body>
</html>

