@model GlobalGames.Data.Entities.Budget


<!DOCTYPE html>
<html lang="en">

<partial name="_Header" />

<body>
 <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1>
            </div>
            <nav>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                    <li class="selecionado"><a asp-area="" asp-controller="Home" asp-action="Services">Serviços</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <partial name="_Newsletter" />

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="titulo">Serviços</h1>

                <ul id="servicos">
                    <li>
                        <h3>Jogos Unity</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                            eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent
                            dui nibh, tincidunt at finibus vitae, feugiat non purus.
                        </p>
                        <p>Preços: 1.000&euro; - 3.000&euro;</p>
                    </li>

                    <li>
                        <h3>Jogos Unreal</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                            eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent
                            dui nibh, tincidunt at finibus vitae, feugiat non purus.
                        </p>
                        <p>Preços: 2.500&euro; - 6.000&euro;</p>
                    </li>

                    <li>
                        <h3>Desenvolvimento de personagens</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                            eu ante faucibus, congue nunc vitae, bibendum mauris. Praesent
                            dui nibh, tincidunt at finibus vitae, feugiat non purus.
                        </p>
                        <p>Preços: 3.000&euro; - 7.500&euro;</p>
                    </li>
                </ul>
            </article>

            <aside id="sidebar">
                <div class="dark">
                    <h3>Peça um orçamento</h3>
                    <form class="orcamento" asp-action="Orcamento" enctype="multipart/form-data">

                        <div>
                            <label>Nome</label><br />
                            <input type="text" placeholder="Nome" asp-for="Nome" />
                        </div>

                        <div>
                            <label>Email</label><br />
                            <input type="email" placeholder="Endereço de email" asp-for="Email" />
                        </div>

                        <div>
                            <label>Mensagem</label><br />
                            <textarea placeholder="Mensagem" asp-for="Mensagem"></textarea>
                        </div>

                        <button class="button_1" type="submit">Enviar</button>
                    </form>
                </div>
            </aside>
        </div>
    </section>
    <footer>
        <p>Global Games, Todos os direitos reservados &copy; 2020</p>
    </footer>
</body>
</html>

